<!doctype html>
%html( lang="ru" )
  %head
    %meta( charset="utf-8" )
    %meta( name="viewport" content="height=device-height,width=device-width,initial-scale=1.0" )
    %title Презентации под ключ в Rocketslides
    %link( rel="stylesheet" href="bundle.min.css" )
    %link( href="//fotorama.s3.amazonaws.com/4.4.9/fotorama.css" rel="stylesheet" )
    %script( src="//use.typekit.net/wsx3qoh.js" )
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    #header
      .wrap
        #logo
        %nav
          %a( href="#portfolio" ) Портфолио
          %a( href="#result" ) Методология
          %a( href="#services" ) Стоимость
        .contact
          .phone +7 499 215-31-40
          .order-call( href="#order-call" data-name="из шапки" data-event="callback-header" ) Заказать звонок
    #macbook
      .wrap
        .title
          %h1 Разработка под ключ<br>презентаций бизнес-класса
          %h2 в PowerPoint, Keynote и Prezi
        %a.order( href="#order-presentation" data-name="первая кнопка" data-event="order-bigbutton" ) Заказать презентацию
    #info
      .wrap
        .title
          %strong Бюро презентаций <br>Rocketslides — это:
        %ul
          %li
            %h2 217
            %h3 успешных<br>проектов
          %li
            %h2 68<small></small>
            %h3 корпоративных<br>клиентов
          %li
            %h2 5 <small>дней</small>
            %h3 средний срок<br>создания презентации
    #clients
      .wrap
        %ul.fotorama( data-width=998 data-autoplay=5000 data-click="false" data-loop="true" data-transitionduration=500 data-nav="no" )
          %li
            %a( href="#" data-client="smart-wall" )
            %a( href="#" data-client="scandinavia" )
            %a( href="#" data-client="sun-school" )
            %a( href="#" data-client="bright-box" )
            %a( href="#" data-client="webcreds" )
            %a( href="#" data-client="free" )
            %a( href="#" data-client="exante" )
            %a( href="#" data-client="mosrektorg" )
            
    #portfolio
      .wrap
        %h1 Портфолио
        %ul
          %li Продающие презентации<br>для отправки по email
          %li Презентации для публичных<br>выступлений
          %li Презентации для инвесторов<br>и маркетинг-киты
          %li Корпоративные шаблоны<br>презентаций
        %form
          %h3 Получите презентацию c&nbsp;нашими с лучшими кейсами
          %input( type="text" name="name" placeholder="Ваше имя" required="true" )
          %input( type="email" name="email" placeholder="Email" required="true" )
          %input( type="text" name="phone" placeholder="+7 (___) __-__-__" )
          %input( type="submit" value="Получить портфолио" data-name="портфолио" required="true" data-event="open-portfolio")
          %p
            или
            %a( href="#order-call" data-name="из портфолио" ) заказать звонок
          .done
            %h3 Спасибо!<br>Ваш заказ принят.
            %p Наш менеджер в течение часа<br>свяжется с Вами.
    #result
      .wrap
        %h1 Бизнес-результат неизбежен
        %h3 Как мы делаем презентации эффективными
        %ul
          %li.diving
            %h4 Погружение<br>в бизнес
            %p
              Презентации должны четко решать свою бизнес-задачу — именно поэтому мы тщательно изучаем то, как работает ваш бизнес, чтобы говорить в презентации «на языке» клиента.
          %li.structure
            %h4 Продающая<br>структура
            %p
              Сценарии наших презентаций создаются профессиональным режиссером презентаций — их уровень сразу же выделит вас на фоне конкурентов и замотивирует клиента на нужное действие!
          %li.design
            %h4 Продуманный<br>дизайн
            %p
              В проектировании дизайна информации на слайдах закладывается обучающая методология, работающая на быстрое считывание и усвоение ключевых сообщений.
    #improve
      .wrap
        %h1 Не знаете, что именно можно улучшить<br>в ваших презентациях?
        %h3 Отправьте их к нам на бесплатный аудит и мы укажем на слабые места!
        %a.send( href="mailto:launch@rocketslides.ru") Отправить файл на e-mail
    -# #reviews
    -#   .wrap
    -#     %h1 Реализованные кейсы
    -#     %h3 Наши клиенты о результатах презентаций
    -#     %ul.fotorama( data-width=998 data-autoplay=5000 data-click="false" data-loop="true" data-transitionduration=500 )
    -#       %li( data-client="al" )
    -#         .info
    -#           %blockquote
    -#             Ребята вывели наши презентации на новый уровень. Они не просто заложили фундамент стилю и подаче наших презентаций, а заправили новым топливом наш отдел по развитию бизнеса. <br><br>Результаты не заставили себя ждать.
    -#           .person
    -#             .name Роман Мандрик
    -#             .position
    -#               Генеральный директор<br>
    -#               Action Learning
    -#           %a.watch( href="#" ) посмотреть работу

    #services
      .wrap
        %h1 Что разрабатываем
        %ul
          %li.selling
            %h3 Продающие презентации<br>и маркетинг-киты
            %h4 от <strong>25</strong> тыс. рублей
            %a.presentation( href="#order-presentation" data-name="продающие презентации" ) Заказать презентацию
            %p
              или
              %a( href="#order-call" ta-name="из продающих презентаций" ) заказать звонок
          %li.public
            %h3 Презентации<br>для публичных выступлений
            %h4 от <strong>20</strong> тыс. рублей
            %a.presentation( href="#order-presentation" data-name="публичные выступления" ) Заказать презентацию
            %p
              или
              %a( href="#order-call" data-name="из публичных выступлений" ) заказать звонок
          %li.corporate
            %h3 Корпоративные шаблоны<br>презентаций
            %h4 от <strong>40</strong> тыс. рублей
            %a.presentation( href="#order-presentation" data-name="корпоративные шаблоны" ) Заказать шаблон
            %p
              или
              %a( href="#order-call" data-name="из корпоративных шаблонов" ) заказать звонок
          %li.trainings
            %h3 Абонентское<br>обслуживание
            %h4 от <strong>80</strong> тыс. руб./мес.
            %a.presentation( href="#order-presentation" data-name="тренинги" ) Обсудить условия
            %p
              или
              %a( href="#order-call" data-name="из тренингов" ) заказать звонок
      -# %h2 Хотите добавить уникальности в ваши презентации?
      -# .tech Мы готовы сделать для вас впечатляющую презентацию в любом<br>прогрессивном формате!
    #team
      .wrap
        %h1 Контакты
        %p
        -# %p К каждому нашему проекту подключается режисер презентаций,<br>копирайтер, арт-директор, дизайнер и технолог.
        -# %p В процесс влюблен каждый участник команды,<br>поэтому и результат получается идеальным!
        -# %img( src="images/team2.jpg" )
        .block
          .info
            .title На прямой связи с вами:
            .phone +7 499 215-31-40
            %a.email( href="mailto:launch@rocketslides.ru" ) launch@rocketslides.ru
            .notice
              Звонок вас ни к чему не обязывает,<br>
              мы с удовольствием расскажем<br>
              о наших проектах и схеме работы
          %form
            %h3 Остались вопросы или<br>хотите связаться с нами напрямую?
            %p Воспользуйтесь контактной формой ниже
            %input( type="text" name="name" placeholder="Ваше имя" required="true" )
            %input( type="email" name="email" placeholder="Email" required="true" )
            %input( type="text" name="phone" placeholder="+7 (___) __-__-__" required="true" )
            %textarea( name="message" placeholder="Ваш вопрос или описание задачи на расчет стоимости" )
            %input( type="submit" value="Отправить сообщение" data-name="остались вопросы" )
            .done
              %h3 Спасибо!<br>Ваш заказ принят.
              %p Наш менеджер скоро<br>свяжется с Вами.
    #footer
      .wrap 2013-2015 &copy; <strong>Rocketslides</strong> &mdash; Бюро презентаций бизнес-класса
    #order
      .overlay
        .inner
          .close
          .info
            %p Мы свяжемся с Вами<br>в течение <strong>3 часов</strong>
            %p В целом создание<br>презентации занимает около<br><strong>6 рабочих дней</strong>
            %p Если у вас срочный запрос,<br>звоните сразу по телефону<br><strong>+7 499 215-31-40</strong>
          %form
            %h3 Заказать презентацию
            %input( type="text" name="name" placeholder="Ваше имя" required="true" )
            %input( type="email" name="email" placeholder="Email" required="true" )
            %input( type="text" name="phone" placeholder="+7 (___) __-__-__" required="true" )
            %input( type="submit" value="Отправить заявку" )
            .done
              %h3 Спасибо.<br>Ваш заказ принят.
              %p Наш менеджер скоро<br>свяжется с Вами.
              .close-popup Закрыть
    #callme
      .overlay
        .inner
          .close
          %form
            %input( type="text" name="name" placeholder="Ваше имя" required="true" )
            %input( type="text" name="phone" placeholder="+7 (___) ___-__-__" required="true" )
            %input( type="submit" value="Отправить заявку" )
            .done
              %h3 Спасибо!<br>Ваш заказ принят.
              %p Наш менеджер скоро<br>свяжется с Вами.
              .close-popup Закрыть
    %script( src="//code.jquery.com/jquery-2.1.0.min.js" )
    %script( src="//fotorama.s3.amazonaws.com/4.4.9/fotorama.js" )
    %script( src="bundle.min.js" )
    %img.preload-image( src="images/form-indicator.gif" )
    :javascript
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter24179341 = new Ya.Metrika({id:24179341, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
