@import "nib"
global-reset()

debug = false
page-width = 998px

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

$proxima-nova
  font-family "proxima-nova", sans-serif
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
    font-smoothing antialiased

$button
  display inline-block
  padding 8px 14px
  border 1px solid rgb(253, 169, 1)
  border-radius 5px
  background linear-gradient( to top, rgb(255,126,0) 0%, rgb(255,192,0) 100%)
  box-shadow 0px 3px #954a09
  color #000
  font-weight 700
  text-shadow 1px 1px rgba(#ffed63, 0.47)
  cursor pointer
  user-select none
  font-size 15px
  text-align center
  text-decoration none
  outline none
  &:hover
    background linear-gradient( to top, rgb(255,192,0) 0%, rgb(255,234,0) 100%)
    border-color rgb(255,234,0)
  &:active
    background linear-gradient( to top, rgb(255,156,0) 0%, rgb(220,135,0) 100%)
    border-color rgb(220,135,0)

a[href^=tel]
  color inherit
  text-decoration none

body
  @extend $proxima-nova
  min-width page-width
  padding-top 74px

.wrap
  width page-width
  margin 0 auto
  position relative
  if debug
    border-left 1px solid green
    border-right 1px solid green


input[type="text"], input[type="email"], textarea
  width 86%
  display inline-block
  outline none
  text-align center
  font-size 18px
  @extend $proxima-nova
  font-weight 300
  box-shadow inset 1px 1px 4px rgba(0, 0, 0, 0.5)
  border 3px solid #ffcc00
  padding 7px 0
  margin-top 10px
  resize none
  +placeholder()
    color #7f7f7f
  &:focus
    +placeholder()
      color rgba(0, 0, 0, 0)
  &[name="phone"]
    +placeholder()
      letter-spacing 1px
[type="submit"]
  @extend $button
  margin-top 16px
  padding 12px 16px


#header
  position fixed
  width 100%
  top 0
  background #000
  z-index 200
  .wrap
    display flex
    justify-content space-between
    align-items center
  a
    color #bebebe
    text-decoration none
    text-transform uppercase
    font-size 12px
    &:nth-of-type(n+2)
      margin-left 28px
    &.active
      color #fff
  nav
    position relative
    top 5px
  .contact
    margin-right 34px
    display flex
    align-items stretch
    flex-direction column
    color #fff
    .phone
      font-size 19px
      font-weight 700
      margin-bottom 16px
    .order-call
      @extend $button
  &.small
    .phone
      display none

#logo
  background url("images/logo.png") no-repeat
  width 257px
  height 90px
  margin 25px 0 25px 34px
  transition margin 0.5s, background 0.3s, height 0.5s
  .small &
    background-size auto 50px
    height 50px
    margin 12px 0 12px 34px

#macbook
  background embedurl("images/zigzag.png") repeat-x bottom, url("images/macbook.jpg") no-repeat center
  background-color #171a1e
  .wrap
    height 578px
    box-sizing border-box
    padding-top 40px
    text-align center
  .title
    color white
    text-shadow 1px 2px rgba(0, 0, 0, 0.4)
    padding-top 130px
    padding-bottom 96px
  h1
    font-size 52px
    font-weight 700
    text-transform uppercase
    margin-bottom 16px
  h2
    font-size 36px
  .order
    @extend $button
    font-size 28px
    line-height 28px
    padding 26px 46px
    border-radius 10px


#info
  text-align center
  strong
    font-weight 700
  .title
    margin-top 96px
    font-size 60px
  ul
    display flex
    justify-content space-between
    padding 120px 88px
    h2
      font-size 90px
      font-weight 700
    small
      font-size 50px
    li:last-of-type small:before
      width 28px
      height 32px
      position absolute
      margin-top 7px
      background embedurl("images/fire.png")
      content " "
    h3
      font-size 20px


#clients
  border-top 2px solid #cbcbcb
  background #e7e7e7
  li
    text-align center
    padding 64px 120px
  a
    display inline-block
    margin 10px 20px
    vertical-align middle


#portfolio
  background url("images/portfolio.jpg") center
  .wrap
    height 800px
    box-sizing border-box
    padding 136px 70px 0 122px
  h1
    font-size 60px
    font-weight 700
    text-shadow 1px 2px rgba(0, 0, 0, 0.4)
    color white
    text-align center
    margin-bottom 90px
  ul
    list-style-type image
    list-style-image embedurl("images/list-item.png")
    color #ffc700
    font-size 20px
    text-shadow 1px 1px rgba(0, 0, 0, 0.6)
    font-weight 600
    line-height 22px
    position absolute
  li
    margin-bottom 36px
  form
    position absolute
    right 60px
    background #e7e7e7
    border-radius 4px
    width 372px
    box-sizing border-box
    padding 32px 36px
    text-align center
    h3
      font-weight 600
      text-shadow 1px 1px rgba(255, 255, 255, 0.7)
      font-size 20px
      margin-bottom 10px
    p
      margin-top 14px
      font-size 15px
      font-weight 600
      color #717171
      text-shadow 1px 0 rgba(255, 255, 255, 0.5)
      a
        display inline-block
        height 18px
        color #0092b6
        text-decoration none
        background embedurl("images/underline.png") repeat-x left bottom


#result
  box-sizing border-box
  background white
  text-align center
  padding-top 130px
  box-shadow inset 0px 7px 7px -7px #000
  h1
    font-size 60px
    font-weight 700
    margin-bottom 22px
  h3
    font-size 30px
    font-weight 300
  ul
    padding 64px 50px 136px 50px
    display flex
    justify-content space-between
  li
    padding-top 130px
    background-repeat no-repeat
    background-position top center
    width 250px
    &.diving
      background-image url("images/diveinto.png")
    &.structure
      background-image url("images/sellingstructure.png")
    &.design
      background-image url("images/smartdesign.png")
    h4
      font-size 21px
      font-weight 600
      margin-bottom 18px
    p
      font-weight 300
      font-size 14px
      line-height 18px


#improve
  background url("images/aurora.jpg") no-repeat center
  .wrap
    text-align center
    height 300px
    box-sizing border-box
    padding-top 56px
  h1
    font-size 30px
    font-weight 600
    color #fff
    text-shadow 1px 1px 0px rgba(0, 0, 0, 0.5)
    margin-bottom 32px
  h3
    font-size 21px
    font-weight 600
    text-shadow 0px 1px 0px rgba(255, 255, 255, 0.2)
    margin-bottom 36px
  .send
    @extend $button
    padding 18px 24px


#reviews
  overflow-x hidden
  padding-bottom 100px
  .wrap
    padding-top 100px
  h1
    font-size 60px
    font-weight 700
    text-align center
    margin-bottom 28px
  h3
    font-size 30px
    font-weight 300
    text-align center
    margin-bottom 80px
  ul
    padding-right 80px
    margin-bottom 24px
    height 380px
    width 998px
    li
      padding-left 500px
      background-position bottom left
      background-repeat no-repeat
      height 380px
      width 918px
      box-sizing border-box
      position absolute
      display flex
      align-items flex-end
  .info
    padding-bottom 42px
  .watch
    float right
    color #0092b6
    text-decoration none
    font-weight 600
    font-size 14px
    border-bottom 1px solid rgba(#0092b6, 0.2)
    line-height 16px
    margin-bottom 8px
  .person
    padding 42px 0
    background-repeat no-repeat
    background-position right
    .name
      font-weight 600
      font-size 16px
      margin-bottom 12px
    .position
      color #7c7c7c
      font-size 12px
  blockquote
    font-weight 300
    font-size 14px
    line-height 18px
  .fotorama__dot
    top 22px
    width 8px
    height 8px
    border none
    background #d6d6d6
    transition background 0.5s
  .fotorama__nav__frame.fotorama__active .fotorama__dot
    width 8px
    height 8px
    background #585858


#services
  border-top 2px solid #cbcbcb
  background #e7e7e7
  text-align center
  font-size 0
  .wrap
    padding 80px 0 172px 0
  ul
    padding-bottom 140px
  h1
    font-size 60px
    font-weight 700
    text-shadow 0px 1px #fff
    margin-bottom 80px
  li
    width 380px
    height 390px
    box-sizing border-box
    padding 144px 20px 20px 20px
    display inline-block
    background-color white
    background-repeat no-repeat
    background-position top
    &.selling
      background-image url("images/services/selling.jpg")
    &.corporate
      background-image url("images/services/corporate.jpg")
    &.public
      background-image url("images/services/public.jpg")
    &.trainings
      background-image url("images/services/trainings.jpg")
    &:nth-child(2n)
      margin-left 60px
    &:nth-child(n+3)
      margin-top 70px
    h3
      font-size 21px
      font-weight 700
      margin-bottom 30px
    h4
      font-size 21px
      font-weight 600
      margin-bottom 18px
      strong
        font-weight 700
        font-size 40px
        color #ffba00
    .presentation
      @extend $button
      padding 18px 28px
    p
      margin-top 14px
      font-size 15px
      font-weight 600
      color #717171
      text-shadow 1px 0 rgba(255, 255, 255, 0.5)
      a
        display inline-block
        height 18px
        color #0092b6
        text-decoration none
        background embedurl("images/underline.png") repeat-x left bottom
  h2
    font-size 21px
    font-weight 700
    margin-bottom 24px
    text-shadow 0px 1px rgba(255, 255, 255, 0.5)
  .tech
    height 150px
    font-size 18px
    font-weight 400
    line-height 20px
    text-shadow 0px 1px rgba(255, 255, 255, 0.5)
    background url("images/technologies.png") no-repeat bottom

#team
  border-top 2px solid #d9aa02
  text-align center
  background #f7c102
  padding 124px 0 106px 0
  font-size 0
  h1
    font-weight 700
    text-shadow 0px 1px rgba(255, 255, 255, 0.37)
    font-size 60px
    margin-bottom 32px
  p
    margin-top 30px
    font-size 18px
    text-shadow 0px 1px rgba(255, 255, 255, 0.37)
    font-weight 300
  img
    margin-top 86px
  .block
    min-height 300px
    background #fff
    margin 0 24px
    border-radius 4px
    display flex
    justify-content stretch
    .info
      width 416px
      padding-top 42px
      .title
        font-size 20px
        font-weight 600
        margin-bottom 86px
      .phone
        font-size 30px
        font-weight 700
        margin-bottom 18px
        text-decoration none
        color black
      .email
        font-size 21px
        color #0092b6
        font-weight 700
        text-decoration none
        border-bottom 1px solid rgba(#0092b6, 0.2)
      .notice
        margin-top 108px
        font-weight 300
        font-size 14px
    form
      width 534px
      background #e7e7e7
      padding 30px 0 36px 0
      input, textarea
        width 297px
        box-sizing border-box
      textarea
        padding-left 20px
        padding-right 20px
        height 122px
      input[type="submit"]
        width 250px
      h3
        font-size 20px
        font-weight 600
        text-shadow 0px 1px rgba(255, 255, 255, 0.37)
      p
        font-size 16px
        font-weight 400
        margin 16px 0 24px 0


#footer
  background black
  .wrap
    box-sizing border-box
    padding-left 24px
    color #8a8a8a
    font-size 12px
    line-height 58px
    strong
      color #c5c5c5
      font-weight 700
      line-height 58px


#order
  display none
  &.visible
    display block
  .overlay
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background rgba(0, 0, 0, 0.67)
    display flex
    justify-content center
    align-items center
    z-index 300
  .inner
    width 950px
    background #fff
    border-radius 4px
    box-shadow 0px 0px 3px rgba(black, 0.8)
    display flex
    justify-content stretch
    position relative
  .close
    position absolute
    right 8px
    top 8px
    background embedurl("images/close.png") no-repeat
    width 20px
    height 20px
    cursor pointer
    opacity 0.3
    transition opacity 0.3s
    &:hover
      opacity 0.7
  .info
    width 416px
    display flex
    flex-direction column
    justify-content space-around
    padding 36px 0
    text-align center
    font-size 16px
    line-height 1.3em
    p:nth-child(2) strong
      color #ffba00
      font-size 20px
      font-weight 700
      line-height 1.5em
    p:nth-child(3) strong
      font-size 20px
      font-weight 700
      line-height 1.5em
  form
    width 534px
    background #e7e7e7
    padding 86px 0 64px 0
    text-align center
    border-top-right-radius 4px
    border-bottom-right-radius 4px
    h3
      font-size 30px
      font-weight 700
      text-shadow 0px 1px rgba(255, 255, 255, 0.37)
      margin-bottom 36px
  input
    width 297px
    box-sizing border-box
  input[type="submit"]
    width 250px
